<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Shortr Link</title>
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    </head>
    <body>

        <h1>{{home}}</h1>

    </body>
</html>
